<ul>
<li><img src="/images/michalek.png" alt="Michał Radmacher" /></li>
</ul>
<ul class="contact">
<li>Michał Radmacher</li>
<li><a href="mailto:michal@radmacher.pl">michal@radmacher.pl</a></li>
<li>+48 662 974 971</li>
</ul>

