<ul class="home-items">
<li class="home-item"><a href="http://www.archlinux.org" target="_blank">ArchLinux</a></li>
<li class="home-item"><a href="http://www.ruby-lang.org" target="_blank">Ruby</a>, <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a></li>
<li class="home-item"><a href="http://vim.sourceforge.net" target="_blank">Vim</a></li>
<li class="home-item"><a href="http://git-scm.com" target="_blank">Git</a></li>
</ul>
<img src="/images/drzewko.png" class="tree" />

