<ul class="l-grid">
<li>
<div class="band">
	<div class="band-name">
    <a href="http://www.iglika.pl" target="_blank">Iglika</a>
  </div>
  <div class="band-image">
    <a href="http://www.iglika.pl" target="_blank"><img src="/images/iglika.png" alt="Iglika" /></a>
  </div>
	<div class="band-desc">
    <% if @lang == :en %>
      Balkan dances and music
    <% else %>
      Tańce i pieśni bałkańskie
    <% end %>
	</div>
</div>
</li>
<li>
<div class="band">
	<div class="band-name">
    <a href="http://www.karoryfer.com/bumtralala" target="_blank">Bumtralala</a>
  </div>
  <div class="band-image">
    <a href="http://www.karoryfer.com/bumtralala" target="_blank"><img src="/images/bumtralala.png" alt="Bumtralala" /></a>
  </div>
	<div class="band-desc">
    <% if @lang == :en %>
      Pink-folk
    <% else %>
      Pink-folk
    <% end %>
	</div>
</div>
</li>
<li>
<div class="band">
	<div class="band-name">
    <a href="http://www.myspace.com/poludnica" target="_blank">Południca</a>
  </div>
  <div class="band-image">
    <a href="http://www.myspace.com/poludnica" target="_blank"><img src="/images/poludnica.png" alt="Południca" /></a>
  </div>
	<div class="band-desc">
    <% if @lang == :en %>
      Dogs from Mars
    <% else %>
      Psy z Marsa
    <% end %>
	</div>
</div>
</li>
<li>
<div class="band">
	<div class="band-name">
    <a href="http://www.lungegaardens-musikkorps.no" target="_blank">Lungegaardens Musikkorps</a>
  </div>
  <div class="band-image">
    <a href="http://www.lungegaardens-musikkorps.no" target="_blank"><img src="/images/lungegaardens.png" alt="Lungegaardens Musikkorps" /></a>
  </div>
	<div class="band-desc">
    <% if @lang == :en %>
      Bergen brass band
    <% else %>
      Dęciaki z Bergen
    <% end %>
	</div>
</div>
</li>
</ul>

