<ul class="l-boxes">
<li>
<div class="project">
	<div class="project-title">
    <a href="http://www.karoryfer.com" target="_blank">Karoryfer Lecolds</a>
  </div>
  <div class="project-image">
    <a href="http://www.karoryfer.com" target="_blank"><img src="/images/karoryfer.png" alt="Karoryfer Lecolds" /></a>
  </div>
	<div class="project-desc">
    <% if @lang == :en %>
      Netlabel web site promoting noncommercial musicians. Portfolio of different music groups, album releases, news.
    <% else %>
      Strona internetowego wydawnictwa muzycznego. Prezentuje artystów wytwórni, wydawnictwa oraz aktualności z nimi związane.
    <% end %>
	</div>
</div>
</li>
<li>
<div class="project">
	<div class="project-title">
    <a href="http://www.paleolog.net" target="_blank">PaleoLog</a>
  </div>
  <div class="project-image">
    <a href="http://www.paleolog.net" target="_blank"><img src="/images/paleolog.png" alt="PaleoLog" /></a>
  </div>
  <div class="project-desc">
    <% if @lang == :en %>
      System for micropalaeontologists which allows to share geological knowledge and helps with biostratigraphical data analysis.
    <% else %>
      Narzędzie dla biostratygrafów stanowiące geologiczną bazę danych oraz umożliwiające przeprowadzanie na nich analiz.
    <% end %>
  </div>
</div>
</li>
<li>
<div class="project">
	<div class="project-title">
    <a href="https://github.com/mradmacher/bibwiki" target="_blank">BibWiki</a>
  </div>
  <div class="project-image">
    <a href="https://github.com/mradmacher/bibwiki" target="_blank"><img src="/images/bibwiki.png" alt="BibWiki" /></a>
  </div>
	<div class="project-desc">
    <% if @lang == :en %>
      Bibliography extension for MediaWiki based on BibTeX standard.
    <% else %>
      Rozszerzenie dla MediaWiki do zarządzania bibliografią oparte na standardzie BibTeX.
    <% end %>
	</div>
</div>
</li>
</ul>


